# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL

__Objective:__

* List popular languages for Data Science
* Introduction to R and RStudio
* Introduction to Jupyter Notebooks

Some of the commonly used libraries used by Data Scientists include:
1. Tensrflow
2. Keras
3. Pytorch

| Data Science Tools |
|--------------------|
| Visual Studio Code |
| GitHub |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Leonard Christopher Limanjaya